#theme1Colour{
    background-color: rgb(86, 178, 178);
}



#theme2Colour{
    background-color: rgb(86, 178, 126);
}

#theme3Colour{
    background-color: rgb(0, 0, 0);
    color:aquamarine;

}

/* body{
    background-color: rgb(86, 178, 178);
} */

